<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>StockStich</title>

  <meta name="keywords" content="Obline Store" />
  <meta name="description" content="Online Shopping">
  <meta name="author" content="haidermalik">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

  <!--&lt;!&ndash; Vendor CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css">-->
  <!--<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css">-->
  <!--<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.css">-->
  <!--<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">-->
  <!--<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">-->
  <!--<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css">-->

  <!--&lt;!&ndash; Theme CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="assets/css/theme.css">-->
  <!--<link rel="stylesheet" href="assets/css/theme-elements.css">-->
  <!--<link rel="stylesheet" href="assets/css/theme-blog.css">-->
  <!--<link rel="stylesheet" href="assets/css/theme-shop.css">-->
  <!--<link rel="stylesheet" href="assets/css/theme-animate.css">-->

  <!--&lt;!&ndash; Current Page CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="assets/vendor/rs-plugin/css/settings.css" media="screen">-->
  <!--<link rel="stylesheet" href="assets/vendor/rs-plugin/css/layers.css" media="screen">-->
  <!--<link rel="stylesheet" href="assets/vendor/rs-plugin/css/navigation.css" media="screen">-->
  <!--<link rel="stylesheet" href="assets/vendor/circle-flip-slideshow/css/component.css" media="screen">-->

  <!--&lt;!&ndash; Skin CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="assets/css/skins/default.css">-->

  <!--&lt;!&ndash; Theme Custom CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="assets/css/custom.css">-->

  <!--&lt;!&ndash; Head Libs &ndash;&gt;-->
  <script src="assets/vendor/modernizr/modernizr.js"></script>


  <title>StockStich</title>
</head>
<body class="body">
<div id="app"></div>



</body>
</html>
